
@{
    ViewBag.Title = "Category Page";
}
<h2>Search Category</h2>


<form method="post">

    Category Name: @Html.TextBox("name")
    <input id="SearchButton" type="submit" value="Search" />
</form>

@if ((int)Session["CategoryFound"] == 1)
{
    @Html.Partial("SearchCategories")
    Session["CategoryFound"] = 0;

}